/*
App Store Connect API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 3.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package appstoreconnect

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// GameCenterLeaderboardSetMemberLocalizationsApiService GameCenterLeaderboardSetMemberLocalizationsApi service
type GameCenterLeaderboardSetMemberLocalizationsApiService service

type ApiGameCenterLeaderboardSetMemberLocalizationsCreateInstanceRequest struct {
	ctx                                                     context.Context
	ApiService                                              *GameCenterLeaderboardSetMemberLocalizationsApiService
	gameCenterLeaderboardSetMemberLocalizationCreateRequest *GameCenterLeaderboardSetMemberLocalizationCreateRequest
}

// GameCenterLeaderboardSetMemberLocalization representation
func (r ApiGameCenterLeaderboardSetMemberLocalizationsCreateInstanceRequest) GameCenterLeaderboardSetMemberLocalizationCreateRequest(gameCenterLeaderboardSetMemberLocalizationCreateRequest GameCenterLeaderboardSetMemberLocalizationCreateRequest) ApiGameCenterLeaderboardSetMemberLocalizationsCreateInstanceRequest {
	r.gameCenterLeaderboardSetMemberLocalizationCreateRequest = &gameCenterLeaderboardSetMemberLocalizationCreateRequest
	return r
}

func (r ApiGameCenterLeaderboardSetMemberLocalizationsCreateInstanceRequest) Execute() (*GameCenterLeaderboardSetMemberLocalizationResponse, *http.Response, error) {
	return r.ApiService.GameCenterLeaderboardSetMemberLocalizationsCreateInstanceExecute(r)
}

/*
GameCenterLeaderboardSetMemberLocalizationsCreateInstance Method for GameCenterLeaderboardSetMemberLocalizationsCreateInstance

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGameCenterLeaderboardSetMemberLocalizationsCreateInstanceRequest
*/
func (a *GameCenterLeaderboardSetMemberLocalizationsApiService) GameCenterLeaderboardSetMemberLocalizationsCreateInstance(ctx context.Context) ApiGameCenterLeaderboardSetMemberLocalizationsCreateInstanceRequest {
	return ApiGameCenterLeaderboardSetMemberLocalizationsCreateInstanceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GameCenterLeaderboardSetMemberLocalizationResponse
func (a *GameCenterLeaderboardSetMemberLocalizationsApiService) GameCenterLeaderboardSetMemberLocalizationsCreateInstanceExecute(r ApiGameCenterLeaderboardSetMemberLocalizationsCreateInstanceRequest) (*GameCenterLeaderboardSetMemberLocalizationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GameCenterLeaderboardSetMemberLocalizationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GameCenterLeaderboardSetMemberLocalizationsApiService.GameCenterLeaderboardSetMemberLocalizationsCreateInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/gameCenterLeaderboardSetMemberLocalizations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.gameCenterLeaderboardSetMemberLocalizationCreateRequest == nil {
		return localVarReturnValue, nil, reportError("gameCenterLeaderboardSetMemberLocalizationCreateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.gameCenterLeaderboardSetMemberLocalizationCreateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGameCenterLeaderboardSetMemberLocalizationsDeleteInstanceRequest struct {
	ctx        context.Context
	ApiService *GameCenterLeaderboardSetMemberLocalizationsApiService
	id         string
}

func (r ApiGameCenterLeaderboardSetMemberLocalizationsDeleteInstanceRequest) Execute() (*http.Response, error) {
	return r.ApiService.GameCenterLeaderboardSetMemberLocalizationsDeleteInstanceExecute(r)
}

/*
GameCenterLeaderboardSetMemberLocalizationsDeleteInstance Method for GameCenterLeaderboardSetMemberLocalizationsDeleteInstance

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id the id of the requested resource
	@return ApiGameCenterLeaderboardSetMemberLocalizationsDeleteInstanceRequest
*/
func (a *GameCenterLeaderboardSetMemberLocalizationsApiService) GameCenterLeaderboardSetMemberLocalizationsDeleteInstance(ctx context.Context, id string) ApiGameCenterLeaderboardSetMemberLocalizationsDeleteInstanceRequest {
	return ApiGameCenterLeaderboardSetMemberLocalizationsDeleteInstanceRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *GameCenterLeaderboardSetMemberLocalizationsApiService) GameCenterLeaderboardSetMemberLocalizationsDeleteInstanceExecute(r ApiGameCenterLeaderboardSetMemberLocalizationsDeleteInstanceRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GameCenterLeaderboardSetMemberLocalizationsApiService.GameCenterLeaderboardSetMemberLocalizationsDeleteInstance")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/gameCenterLeaderboardSetMemberLocalizations/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardGetToOneRelatedRequest struct {
	ctx                                      context.Context
	ApiService                               *GameCenterLeaderboardSetMemberLocalizationsApiService
	id                                       string
	fieldsGameCenterLeaderboardLocalizations *[]string
	fieldsGameCenterLeaderboardSets          *[]string
	fieldsGameCenterGroups                   *[]string
	fieldsGameCenterDetails                  *[]string
	fieldsGameCenterLeaderboards             *[]string
	fieldsGameCenterLeaderboardReleases      *[]string
	limitGameCenterLeaderboardSets           *int32
	limitLocalizations                       *int32
	limitReleases                            *int32
	include                                  *[]string
}

// the fields to include for returned resources of type gameCenterLeaderboardLocalizations
func (r ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardGetToOneRelatedRequest) FieldsGameCenterLeaderboardLocalizations(fieldsGameCenterLeaderboardLocalizations []string) ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardGetToOneRelatedRequest {
	r.fieldsGameCenterLeaderboardLocalizations = &fieldsGameCenterLeaderboardLocalizations
	return r
}

// the fields to include for returned resources of type gameCenterLeaderboardSets
func (r ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardGetToOneRelatedRequest) FieldsGameCenterLeaderboardSets(fieldsGameCenterLeaderboardSets []string) ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardGetToOneRelatedRequest {
	r.fieldsGameCenterLeaderboardSets = &fieldsGameCenterLeaderboardSets
	return r
}

// the fields to include for returned resources of type gameCenterGroups
func (r ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardGetToOneRelatedRequest) FieldsGameCenterGroups(fieldsGameCenterGroups []string) ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardGetToOneRelatedRequest {
	r.fieldsGameCenterGroups = &fieldsGameCenterGroups
	return r
}

// the fields to include for returned resources of type gameCenterDetails
func (r ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardGetToOneRelatedRequest) FieldsGameCenterDetails(fieldsGameCenterDetails []string) ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardGetToOneRelatedRequest {
	r.fieldsGameCenterDetails = &fieldsGameCenterDetails
	return r
}

// the fields to include for returned resources of type gameCenterLeaderboards
func (r ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardGetToOneRelatedRequest) FieldsGameCenterLeaderboards(fieldsGameCenterLeaderboards []string) ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardGetToOneRelatedRequest {
	r.fieldsGameCenterLeaderboards = &fieldsGameCenterLeaderboards
	return r
}

// the fields to include for returned resources of type gameCenterLeaderboardReleases
func (r ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardGetToOneRelatedRequest) FieldsGameCenterLeaderboardReleases(fieldsGameCenterLeaderboardReleases []string) ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardGetToOneRelatedRequest {
	r.fieldsGameCenterLeaderboardReleases = &fieldsGameCenterLeaderboardReleases
	return r
}

// maximum number of related gameCenterLeaderboardSets returned (when they are included)
func (r ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardGetToOneRelatedRequest) LimitGameCenterLeaderboardSets(limitGameCenterLeaderboardSets int32) ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardGetToOneRelatedRequest {
	r.limitGameCenterLeaderboardSets = &limitGameCenterLeaderboardSets
	return r
}

// maximum number of related localizations returned (when they are included)
func (r ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardGetToOneRelatedRequest) LimitLocalizations(limitLocalizations int32) ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardGetToOneRelatedRequest {
	r.limitLocalizations = &limitLocalizations
	return r
}

// maximum number of related releases returned (when they are included)
func (r ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardGetToOneRelatedRequest) LimitReleases(limitReleases int32) ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardGetToOneRelatedRequest {
	r.limitReleases = &limitReleases
	return r
}

// comma-separated list of relationships to include
func (r ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardGetToOneRelatedRequest) Include(include []string) ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardGetToOneRelatedRequest {
	r.include = &include
	return r
}

func (r ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardGetToOneRelatedRequest) Execute() (*GameCenterLeaderboardResponse, *http.Response, error) {
	return r.ApiService.GameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardGetToOneRelatedExecute(r)
}

/*
GameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardGetToOneRelated Method for GameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardGetToOneRelated

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id the id of the requested resource
	@return ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardGetToOneRelatedRequest
*/
func (a *GameCenterLeaderboardSetMemberLocalizationsApiService) GameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardGetToOneRelated(ctx context.Context, id string) ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardGetToOneRelatedRequest {
	return ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardGetToOneRelatedRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return GameCenterLeaderboardResponse
func (a *GameCenterLeaderboardSetMemberLocalizationsApiService) GameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardGetToOneRelatedExecute(r ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardGetToOneRelatedRequest) (*GameCenterLeaderboardResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GameCenterLeaderboardResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GameCenterLeaderboardSetMemberLocalizationsApiService.GameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardGetToOneRelated")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/gameCenterLeaderboardSetMemberLocalizations/{id}/gameCenterLeaderboard"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fieldsGameCenterLeaderboardLocalizations != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[gameCenterLeaderboardLocalizations]", r.fieldsGameCenterLeaderboardLocalizations, "csv")
	}
	if r.fieldsGameCenterLeaderboardSets != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[gameCenterLeaderboardSets]", r.fieldsGameCenterLeaderboardSets, "csv")
	}
	if r.fieldsGameCenterGroups != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[gameCenterGroups]", r.fieldsGameCenterGroups, "csv")
	}
	if r.fieldsGameCenterDetails != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[gameCenterDetails]", r.fieldsGameCenterDetails, "csv")
	}
	if r.fieldsGameCenterLeaderboards != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[gameCenterLeaderboards]", r.fieldsGameCenterLeaderboards, "csv")
	}
	if r.fieldsGameCenterLeaderboardReleases != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[gameCenterLeaderboardReleases]", r.fieldsGameCenterLeaderboardReleases, "csv")
	}
	if r.limitGameCenterLeaderboardSets != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[gameCenterLeaderboardSets]", r.limitGameCenterLeaderboardSets, "")
	}
	if r.limitLocalizations != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[localizations]", r.limitLocalizations, "")
	}
	if r.limitReleases != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[releases]", r.limitReleases, "")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardSetGetToOneRelatedRequest struct {
	ctx                                         context.Context
	ApiService                                  *GameCenterLeaderboardSetMemberLocalizationsApiService
	id                                          string
	fieldsGameCenterLeaderboardSetLocalizations *[]string
	fieldsGameCenterLeaderboardSetReleases      *[]string
	fieldsGameCenterLeaderboardSets             *[]string
	fieldsGameCenterGroups                      *[]string
	fieldsGameCenterDetails                     *[]string
	fieldsGameCenterLeaderboards                *[]string
	limitLocalizations                          *int32
	limitGameCenterLeaderboards                 *int32
	limitReleases                               *int32
	include                                     *[]string
}

// the fields to include for returned resources of type gameCenterLeaderboardSetLocalizations
func (r ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardSetGetToOneRelatedRequest) FieldsGameCenterLeaderboardSetLocalizations(fieldsGameCenterLeaderboardSetLocalizations []string) ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardSetGetToOneRelatedRequest {
	r.fieldsGameCenterLeaderboardSetLocalizations = &fieldsGameCenterLeaderboardSetLocalizations
	return r
}

// the fields to include for returned resources of type gameCenterLeaderboardSetReleases
func (r ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardSetGetToOneRelatedRequest) FieldsGameCenterLeaderboardSetReleases(fieldsGameCenterLeaderboardSetReleases []string) ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardSetGetToOneRelatedRequest {
	r.fieldsGameCenterLeaderboardSetReleases = &fieldsGameCenterLeaderboardSetReleases
	return r
}

// the fields to include for returned resources of type gameCenterLeaderboardSets
func (r ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardSetGetToOneRelatedRequest) FieldsGameCenterLeaderboardSets(fieldsGameCenterLeaderboardSets []string) ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardSetGetToOneRelatedRequest {
	r.fieldsGameCenterLeaderboardSets = &fieldsGameCenterLeaderboardSets
	return r
}

// the fields to include for returned resources of type gameCenterGroups
func (r ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardSetGetToOneRelatedRequest) FieldsGameCenterGroups(fieldsGameCenterGroups []string) ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardSetGetToOneRelatedRequest {
	r.fieldsGameCenterGroups = &fieldsGameCenterGroups
	return r
}

// the fields to include for returned resources of type gameCenterDetails
func (r ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardSetGetToOneRelatedRequest) FieldsGameCenterDetails(fieldsGameCenterDetails []string) ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardSetGetToOneRelatedRequest {
	r.fieldsGameCenterDetails = &fieldsGameCenterDetails
	return r
}

// the fields to include for returned resources of type gameCenterLeaderboards
func (r ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardSetGetToOneRelatedRequest) FieldsGameCenterLeaderboards(fieldsGameCenterLeaderboards []string) ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardSetGetToOneRelatedRequest {
	r.fieldsGameCenterLeaderboards = &fieldsGameCenterLeaderboards
	return r
}

// maximum number of related localizations returned (when they are included)
func (r ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardSetGetToOneRelatedRequest) LimitLocalizations(limitLocalizations int32) ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardSetGetToOneRelatedRequest {
	r.limitLocalizations = &limitLocalizations
	return r
}

// maximum number of related gameCenterLeaderboards returned (when they are included)
func (r ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardSetGetToOneRelatedRequest) LimitGameCenterLeaderboards(limitGameCenterLeaderboards int32) ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardSetGetToOneRelatedRequest {
	r.limitGameCenterLeaderboards = &limitGameCenterLeaderboards
	return r
}

// maximum number of related releases returned (when they are included)
func (r ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardSetGetToOneRelatedRequest) LimitReleases(limitReleases int32) ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardSetGetToOneRelatedRequest {
	r.limitReleases = &limitReleases
	return r
}

// comma-separated list of relationships to include
func (r ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardSetGetToOneRelatedRequest) Include(include []string) ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardSetGetToOneRelatedRequest {
	r.include = &include
	return r
}

func (r ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardSetGetToOneRelatedRequest) Execute() (*GameCenterLeaderboardSetResponse, *http.Response, error) {
	return r.ApiService.GameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardSetGetToOneRelatedExecute(r)
}

/*
GameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardSetGetToOneRelated Method for GameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardSetGetToOneRelated

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id the id of the requested resource
	@return ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardSetGetToOneRelatedRequest
*/
func (a *GameCenterLeaderboardSetMemberLocalizationsApiService) GameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardSetGetToOneRelated(ctx context.Context, id string) ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardSetGetToOneRelatedRequest {
	return ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardSetGetToOneRelatedRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return GameCenterLeaderboardSetResponse
func (a *GameCenterLeaderboardSetMemberLocalizationsApiService) GameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardSetGetToOneRelatedExecute(r ApiGameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardSetGetToOneRelatedRequest) (*GameCenterLeaderboardSetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GameCenterLeaderboardSetResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GameCenterLeaderboardSetMemberLocalizationsApiService.GameCenterLeaderboardSetMemberLocalizationsGameCenterLeaderboardSetGetToOneRelated")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/gameCenterLeaderboardSetMemberLocalizations/{id}/gameCenterLeaderboardSet"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fieldsGameCenterLeaderboardSetLocalizations != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[gameCenterLeaderboardSetLocalizations]", r.fieldsGameCenterLeaderboardSetLocalizations, "csv")
	}
	if r.fieldsGameCenterLeaderboardSetReleases != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[gameCenterLeaderboardSetReleases]", r.fieldsGameCenterLeaderboardSetReleases, "csv")
	}
	if r.fieldsGameCenterLeaderboardSets != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[gameCenterLeaderboardSets]", r.fieldsGameCenterLeaderboardSets, "csv")
	}
	if r.fieldsGameCenterGroups != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[gameCenterGroups]", r.fieldsGameCenterGroups, "csv")
	}
	if r.fieldsGameCenterDetails != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[gameCenterDetails]", r.fieldsGameCenterDetails, "csv")
	}
	if r.fieldsGameCenterLeaderboards != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[gameCenterLeaderboards]", r.fieldsGameCenterLeaderboards, "csv")
	}
	if r.limitLocalizations != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[localizations]", r.limitLocalizations, "")
	}
	if r.limitGameCenterLeaderboards != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[gameCenterLeaderboards]", r.limitGameCenterLeaderboards, "")
	}
	if r.limitReleases != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit[releases]", r.limitReleases, "")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGameCenterLeaderboardSetMemberLocalizationsGetCollectionRequest struct {
	ctx                                               context.Context
	ApiService                                        *GameCenterLeaderboardSetMemberLocalizationsApiService
	filterGameCenterLeaderboard                       *[]string
	filterGameCenterLeaderboardSet                    *[]string
	fieldsGameCenterLeaderboardSetMemberLocalizations *[]string
	limit                                             *int32
	include                                           *[]string
	fieldsGameCenterLeaderboardSets                   *[]string
	fieldsGameCenterLeaderboards                      *[]string
}

// filter by id(s) of related &#39;gameCenterLeaderboard&#39;
func (r ApiGameCenterLeaderboardSetMemberLocalizationsGetCollectionRequest) FilterGameCenterLeaderboard(filterGameCenterLeaderboard []string) ApiGameCenterLeaderboardSetMemberLocalizationsGetCollectionRequest {
	r.filterGameCenterLeaderboard = &filterGameCenterLeaderboard
	return r
}

// filter by id(s) of related &#39;gameCenterLeaderboardSet&#39;
func (r ApiGameCenterLeaderboardSetMemberLocalizationsGetCollectionRequest) FilterGameCenterLeaderboardSet(filterGameCenterLeaderboardSet []string) ApiGameCenterLeaderboardSetMemberLocalizationsGetCollectionRequest {
	r.filterGameCenterLeaderboardSet = &filterGameCenterLeaderboardSet
	return r
}

// the fields to include for returned resources of type gameCenterLeaderboardSetMemberLocalizations
func (r ApiGameCenterLeaderboardSetMemberLocalizationsGetCollectionRequest) FieldsGameCenterLeaderboardSetMemberLocalizations(fieldsGameCenterLeaderboardSetMemberLocalizations []string) ApiGameCenterLeaderboardSetMemberLocalizationsGetCollectionRequest {
	r.fieldsGameCenterLeaderboardSetMemberLocalizations = &fieldsGameCenterLeaderboardSetMemberLocalizations
	return r
}

// maximum resources per page
func (r ApiGameCenterLeaderboardSetMemberLocalizationsGetCollectionRequest) Limit(limit int32) ApiGameCenterLeaderboardSetMemberLocalizationsGetCollectionRequest {
	r.limit = &limit
	return r
}

// comma-separated list of relationships to include
func (r ApiGameCenterLeaderboardSetMemberLocalizationsGetCollectionRequest) Include(include []string) ApiGameCenterLeaderboardSetMemberLocalizationsGetCollectionRequest {
	r.include = &include
	return r
}

// the fields to include for returned resources of type gameCenterLeaderboardSets
func (r ApiGameCenterLeaderboardSetMemberLocalizationsGetCollectionRequest) FieldsGameCenterLeaderboardSets(fieldsGameCenterLeaderboardSets []string) ApiGameCenterLeaderboardSetMemberLocalizationsGetCollectionRequest {
	r.fieldsGameCenterLeaderboardSets = &fieldsGameCenterLeaderboardSets
	return r
}

// the fields to include for returned resources of type gameCenterLeaderboards
func (r ApiGameCenterLeaderboardSetMemberLocalizationsGetCollectionRequest) FieldsGameCenterLeaderboards(fieldsGameCenterLeaderboards []string) ApiGameCenterLeaderboardSetMemberLocalizationsGetCollectionRequest {
	r.fieldsGameCenterLeaderboards = &fieldsGameCenterLeaderboards
	return r
}

func (r ApiGameCenterLeaderboardSetMemberLocalizationsGetCollectionRequest) Execute() (*GameCenterLeaderboardSetMemberLocalizationsResponse, *http.Response, error) {
	return r.ApiService.GameCenterLeaderboardSetMemberLocalizationsGetCollectionExecute(r)
}

/*
GameCenterLeaderboardSetMemberLocalizationsGetCollection Method for GameCenterLeaderboardSetMemberLocalizationsGetCollection

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGameCenterLeaderboardSetMemberLocalizationsGetCollectionRequest
*/
func (a *GameCenterLeaderboardSetMemberLocalizationsApiService) GameCenterLeaderboardSetMemberLocalizationsGetCollection(ctx context.Context) ApiGameCenterLeaderboardSetMemberLocalizationsGetCollectionRequest {
	return ApiGameCenterLeaderboardSetMemberLocalizationsGetCollectionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GameCenterLeaderboardSetMemberLocalizationsResponse
func (a *GameCenterLeaderboardSetMemberLocalizationsApiService) GameCenterLeaderboardSetMemberLocalizationsGetCollectionExecute(r ApiGameCenterLeaderboardSetMemberLocalizationsGetCollectionRequest) (*GameCenterLeaderboardSetMemberLocalizationsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GameCenterLeaderboardSetMemberLocalizationsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GameCenterLeaderboardSetMemberLocalizationsApiService.GameCenterLeaderboardSetMemberLocalizationsGetCollection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/gameCenterLeaderboardSetMemberLocalizations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.filterGameCenterLeaderboard == nil {
		return localVarReturnValue, nil, reportError("filterGameCenterLeaderboard is required and must be specified")
	}
	if r.filterGameCenterLeaderboardSet == nil {
		return localVarReturnValue, nil, reportError("filterGameCenterLeaderboardSet is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "filter[gameCenterLeaderboard]", r.filterGameCenterLeaderboard, "csv")
	parameterAddToHeaderOrQuery(localVarQueryParams, "filter[gameCenterLeaderboardSet]", r.filterGameCenterLeaderboardSet, "csv")
	if r.fieldsGameCenterLeaderboardSetMemberLocalizations != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[gameCenterLeaderboardSetMemberLocalizations]", r.fieldsGameCenterLeaderboardSetMemberLocalizations, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "csv")
	}
	if r.fieldsGameCenterLeaderboardSets != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[gameCenterLeaderboardSets]", r.fieldsGameCenterLeaderboardSets, "csv")
	}
	if r.fieldsGameCenterLeaderboards != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields[gameCenterLeaderboards]", r.fieldsGameCenterLeaderboards, "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGameCenterLeaderboardSetMemberLocalizationsUpdateInstanceRequest struct {
	ctx                                                     context.Context
	ApiService                                              *GameCenterLeaderboardSetMemberLocalizationsApiService
	id                                                      string
	gameCenterLeaderboardSetMemberLocalizationUpdateRequest *GameCenterLeaderboardSetMemberLocalizationUpdateRequest
}

// GameCenterLeaderboardSetMemberLocalization representation
func (r ApiGameCenterLeaderboardSetMemberLocalizationsUpdateInstanceRequest) GameCenterLeaderboardSetMemberLocalizationUpdateRequest(gameCenterLeaderboardSetMemberLocalizationUpdateRequest GameCenterLeaderboardSetMemberLocalizationUpdateRequest) ApiGameCenterLeaderboardSetMemberLocalizationsUpdateInstanceRequest {
	r.gameCenterLeaderboardSetMemberLocalizationUpdateRequest = &gameCenterLeaderboardSetMemberLocalizationUpdateRequest
	return r
}

func (r ApiGameCenterLeaderboardSetMemberLocalizationsUpdateInstanceRequest) Execute() (*GameCenterLeaderboardSetMemberLocalizationResponse, *http.Response, error) {
	return r.ApiService.GameCenterLeaderboardSetMemberLocalizationsUpdateInstanceExecute(r)
}

/*
GameCenterLeaderboardSetMemberLocalizationsUpdateInstance Method for GameCenterLeaderboardSetMemberLocalizationsUpdateInstance

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id the id of the requested resource
	@return ApiGameCenterLeaderboardSetMemberLocalizationsUpdateInstanceRequest
*/
func (a *GameCenterLeaderboardSetMemberLocalizationsApiService) GameCenterLeaderboardSetMemberLocalizationsUpdateInstance(ctx context.Context, id string) ApiGameCenterLeaderboardSetMemberLocalizationsUpdateInstanceRequest {
	return ApiGameCenterLeaderboardSetMemberLocalizationsUpdateInstanceRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return GameCenterLeaderboardSetMemberLocalizationResponse
func (a *GameCenterLeaderboardSetMemberLocalizationsApiService) GameCenterLeaderboardSetMemberLocalizationsUpdateInstanceExecute(r ApiGameCenterLeaderboardSetMemberLocalizationsUpdateInstanceRequest) (*GameCenterLeaderboardSetMemberLocalizationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GameCenterLeaderboardSetMemberLocalizationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GameCenterLeaderboardSetMemberLocalizationsApiService.GameCenterLeaderboardSetMemberLocalizationsUpdateInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/gameCenterLeaderboardSetMemberLocalizations/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.gameCenterLeaderboardSetMemberLocalizationUpdateRequest == nil {
		return localVarReturnValue, nil, reportError("gameCenterLeaderboardSetMemberLocalizationUpdateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.gameCenterLeaderboardSetMemberLocalizationUpdateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
